.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card1 {
    /* Gaya untuk Card 1 */
    margin-bottom: 10px; /* Jarak antara Card 1 dan Avatar */
  }
  
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Gaya untuk Avatar Komponen */
    margin-top: 10px; /* Jarak antara Avatar dan Card 2 */
  }
  
  .card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Gaya untuk Card 2 */ margin-bottom: 10px;
  }

  .tombol {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  